@page "/naruto/mod"
@model ModMaker101.Pages.narutoModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@{ViewData ["Title"] = "Naruto";}</title>
</head>
<body>
    <div class="container main text-center">
        <div class="mainTitle">
            <h1 class="slow-fade-in">Minecraft Bedrock Naruto Mod</h1>
            <div class="spacer-v20"></div>
            <hr class="fade-in"/>
            <h6 class="fade-in">This addon is one of the best minecraft bedrock naruto mods in development</h6>
        </div>
    </div>
    <div class="spacer-v40"></div>
    <div class="container body fade-in">
        <div class="show-casing">
            <div class="left float-start">
                <h2>Features</h2>
                <h4>This adds the feature listed below</h4>
                <div class="spacer-v20"></div>
                <ul>
                    <h5>Food</h5>
                    <li>Ramen</li>
                    <div class="spacer-v10"></div>
                    <h5>Weapons</h5>
                    <li>Shuriken</li>
                    <div class="spacer-v10"></div>
                    <h5>Jutsus</h5>
                    <li>Fireball Jutsu</li>
                </ul>
                <div class="spacer-v10"></div>
                <h5>With more to come</h5>
            </div>
            <div class="float-end fade-in">
                <h2>How to download</h2>
                <ul>
                    <h5>Step 1</h5>
                    <li>Go to github and download the latest addon from the releases</li>
                    <div class="spacer-v10"></div>
                    <h5>Step 2</h5>
                    <li>Then double click the mcaddon file and that will open minecraft</li>
                    <div class="spacer-v10"></div>
                    <h5>Step 3</h5>
                    <li>Go to the create world and activate all the expirements and active the addon</li>
                    <div class="spacer-v10"></div>
                    <h5>Step 4</h5>
                    <li>HAVE FUN!!</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>