@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center slow-fade-in">Privacy Policy</h1>

<h6 class="text-center fade-in">I do not and will not take any information and sell. I am a person who keeps his word. All I do is track if you go on my wesite. No data stealing monster I use <a href="https://analytics.google.com">Google Analytics.<abbr></h6>
